<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício 4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>
    <div id="app">
        <input v-model="nome" placeholder="Digite seu nome" />
        <p v-if="nome">Bem-vindo, {{ nome }}!</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    nome: ""
                };
            }
        });
    </script>
</body>
</html>
